// COMPATIBILITY
// Mixins and functions related to browser compatibility.

	// Clip Path
	@mixin clip-path ( $value ) {
		-webkit-clip-path: $value;
		clip-path: $value;
	}

// CLEAR

	@mixin clear-after {
		&::after {
			clear: both;
			display: block;
			content: '';
		}
	}

// FIRST & LAST MARGINS
// Specify that the first and last children of a containing element have no top or bottom margin, respectively. This is useful when the container already provides appropriate padding or margin around its contents.

	@mixin no-first-last-margins ( $first: 0, $last: 0 ) {
		& > *:first-child { margin-top:    $first; }
		& > *:last-child  { margin-bottom: $last;  }
	}

// LINK COLOR

	@mixin link-color($color, $hover: $color) {
		color: $color;
		&:active { color: $color; }
		&:visited { color: $color; }
		@if ( $hover != null ) {
			&:hover { color: $hover; }
		}
	}

	@mixin invisible-link() {
		@include link-color(inherit);
		text-decoration: inherit;
	}

// FLEXBOX SHORTCODES

	@mixin flex-layout ( $flex-direction: row, $flex-wrap: nowrap, $justify-content: flex-start, $align-items: stretch ) {
		@include display-flex;
		@include flex-direction( $flex-direction );
		@include flex-wrap( $flex-wrap );
		@include justify-content( $justify-content );
		@include align-items( $align-items );
	}

	@mixin flex-children ( $flex: 0 1 auto ) {
		& > * {
			@include flex( $flex );
		}
	}

// UNSTYLED LIST

	@mixin no-list-style {
		margin: 0;
		padding: 0;
		list-style: none;
	}

// ABSOLUTE CENTER

@mixin absolute-center {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

// ABSOLUTE OVERLAY

	@mixin absolute-cover {
		position: absolute;
		left: 0;
		right: 0;
		top: 0;
		bottom: 0;
	}

// ZOOM ON HOVER

	@mixin hover-zoom( $scale: 1.05 ) {
		@include transform(scale(1));
		&:hover { @include transform(scale($scale)); }
		@include transition( transform .25s ceaser($easeInOutCubic));
	}

// https://dvcs.w3.org/hg/FXTF/raw-file/tip/filters/index.html
//
// grayscale      ex: filter: grayscale(100%);
// sepia          ex: filter: sepia(100%);
// saturate       ex: filter: saturate(0%);
// hue-rotate     ex: filter: hue-rotate(45deg);
// invert         ex: filter: invert(100%);
// brightness     ex: filter: brightness(15%);
// contrast       ex: filter: contrast(200%);
// blur           ex: filter: blur(2px);

	@mixin filter( $args ) {
		-webkit-filter: $args;
		-moz-filter: $args;
		-ms-filter: $args;
		-o-filter: $args;
		filter: $args;
	}

// NO SELECT

	@mixin no-select {
		-webkit-user-select: none;
		-moz-user-select: none;
		-ms-user-select: none;
		user-select: none;

		-webkit-touch-callout: none;
		-ms-text-size-adjust: none;
		-webkit-text-size-adjust: none;
		-webkit-tap-highlight-color: rgba(0,0,0,0);
	}

// LINEAR GRADIENT

// $list-sample: $blue 0%,$blue 33%,$green 33%,$green 66%, $orange 66%, $orange 100%;
// @include gradient( top, $list-sample ); // top, left, right, bottom

	@mixin gradient( $direction, $list ) {
		background: -webkit-linear-gradient( $direction, $list );
		background: -moz-linear-gradient( $direction, $list );
		background: -o-linear-gradient( $direction, $list );
		background: linear-gradient( $direction, $list );
	}