/* =WordPress Core
Based on https://codex.wordpress.org/CSS
-------------------------------------------------------------- */
.alignnone {
    display: block;
    & img { display: block; } // with captions
    margin: 1em 0;
}

.aligncenter {
    display: block;
    & img { display: block; } // with captions
    margin: 1em auto;
}

.alignright {
    @extend .aligncenter;
    @include range(sm) {
    	max-width: 20em;
        float: right;
        margin: .25em 0 1em 2em;
    }
}

.alignleft {
    @extend .aligncenter;
    @include range(sm) {
    	max-width: 20em;
        float: left;
        margin: .25em 2em 1em 0;
    }
}

// SCREEN READERS

.screen-reader-text {
	clip: rect(1px, 1px, 1px, 1px);
	position: absolute !important;
	height: 1px;
	width: 1px;
	overflow: hidden;
}

.screen-reader-text:focus {
	background-color: #f1f1f1;
	border-radius: 3px;
	box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.6);
	clip: auto !important;
	color: #21759b;
	display: block;
	font-size: 14px;
	font-size: 0.875rem;
	font-weight: bold;
	height: auto;
	left: 5px;
	line-height: normal;
	padding: 15px 23px 14px;
	text-decoration: none;
	top: 5px;
	width: auto;
	z-index: 100000; /* Above WP toolbar. */
}

// WORDPRESS ADMIN BAR
// Extension of the 'range' module to handle the WordPress admin bar.

$wp-ranges: (
    wp-sm: (max: 600),
    wp-md: (min: 601, max: 783),
    wp-lg: (min: 784)
);
$ranges: map-merge($ranges, $wp-ranges);

$wpadminbar-sm-height:  46px;
$wpadminbar-md-height:  46px;
$wpadminbar-lg-height:  32px;

// Use WP ranges and variables to make adjustments for fixed/absolute elements, e.g.
// body.admin-bar { @include range(wp-sm) { #site-header { top: $wpadminbar-sm-height; } } }