// BLOCKS
// ======

	.entry-block-container {}

	.entry-block {}

	.entry-block-inner {}

// NORMAL

	.entry-block-normal {}

// CALLOUT

	.entry-callout {
		@include wysiwyg;
		@include no-first-last-margins;
		padding: 1em;
		background: $white;

		.entry-heading h2 {
			margin-top: 0;
		}
	}

// COLUMNS

	.entry-columns {

		> .entry-block-inner {
			@include range(md) {
				@include flex-layout;
				margin: -1em -1em;
			}
		}

	}

	.entry-column {
		@include range(md) {
			@include flex(1 1 0);
			margin: 0 1em;
		}
	}

// TILES

	.entry-tiles {

		ul {
			@include no-list-style;
			@include range(xs) {
				@include flex-layout( row, wrap );
				margin: 1em 0 -1em;
			}

		}

		li {
			margin: 1em 0;
			line-height: 1.5;
			position: relative;
			overflow: hidden;
			background: $white;
			@include range(xs) {
				width: 12rem;
				margin: 0 1em 1em 0;
			}
			@include hover-zoom;
		}

		a {
			display: block;
			text-decoration: none;
			position: relative;
			@include link-color(inherit);
		}

	}

	.entry-tile-thumb-container {
		background: $white;
		position: relative;
		padding-bottom: 62.5%;

		> a {
			@include absolute-cover;
		}
	}

	.entry-tile-thumb {
		@include absolute-cover;
		background-size: cover;
		background-position: center;
	}

	.entry-tile-caption {
		padding: .5em;
	}

	.entry-tile-title {
		font-size: 1.5em;
	}

	.entry-tile-subtitle {
	}

	.entry-tile-content {
		margin-top: 1em;
		@include wysiwyg;
		@include no-first-last-margins;
	}

// ACTIONS

	.entry-actions {

		ul {
			@include no-list-style;
			@include range(xs) {
				@include flex-layout( row, wrap, center );
				margin: 1em 0;
			}
		}

		li {
			margin: .5em 0;
			@include range(xs) {
				margin: 0;
				&:not(:first-child) { margin-left: 1em; }
			}
		}

		a {
			display: block;
			padding: .5em 1em;
			background: $white;
			text-decoration: none;
			text-align: center;
			@extend .button;
			@include hover-zoom;
		}

	}

// SLIDER

	.entry-block-slider {
		max-width: $main-width - 4.375rem;
		margin: 0 auto;
		text-align: center;
		.heading-styled {
			text-decoration: none;
			font-size: 1.875rem;
			display: block;
			&:hover {
				text-decoration: none;
			}
		}
		ul {
			@include no-list-style;
			margin: 0 2.5rem 1.5rem;
			@include range(md) {
				margin: 0 1.5rem;
			}
			li {
				padding: 0 1.188rem;
			}
		}

		.slick-prev, .slick-next {
			font-size: 0;
			line-height: 0;
			position: absolute;
			top: 50%;
			display: block;
			width: 1.5rem;
			height: 1.875rem;
			padding: 0;
			@include transform( translate(0, -50%));
			cursor: pointer;
			color: transparent;
			border: none;
			outline: none;
			background: transparent;

			&::before {
				display: block;
				@include fa-icon;
				@extend .fal;
				@include transform(scale(1.25, 1.5));
				vertical-align: 0;
				font-size: 1.313rem;
				color: $muted-blue;
				opacity: .75;
				font-weight: 300;
			}

			&:hover, &:focus {
				color: transparent;
				outline: none;
				background: transparent;
				&::before {
					color: $dark-blue;
					opacity: 1;
				}
			}
		}

		.slick-prev {
			left: -2.1875rem;
			&::before {
				content: fa-content($fa-var-angle-double-left);
			}
		}

		.slick-next {
			right: -2.1875rem;
			&::before {
				content: fa-content($fa-var-angle-double-right);
			}
		}
		&.video-slider {
			flex:1;
			.slider-list {
				width: auto;
				.video-container {
					max-height: 19rem; // 560x315
					margin: 1rem auto;

				}
			}
			.slick-list {
				z-index: 1;
			}
			.slick-prev, .slick-next {
				position: relative;
				font-size: 1rem;
				line-height: 1.1;
				color: $muted-blue;
				width: auto;
				text-align: center;
				z-index: 2;
				&::before {
					display: none;
				}
			}

			.slick-prev {
				left: auto;
				right: auto;
				&::before {
					content: '';
				}
				&::after {
					content: ' Video';
				}
			}

			.slick-next {
				left: auto;
				right: auto;
				&::before {
					content: '';
				}
				&::after {
					content: ' Video';
				}
			}
		}
	}

// STYLED HEADER

	.heading-styled {
		text-align: center;
		font-size: 1.75rem;
		line-height: 1.2;
		font-family: Montserrat, Helvetica, sans-serif;
		color: $dark-blue;
		text-transform: uppercase;
		margin: 0 1rem 2rem;
		@include range(fs) {
			margin: 0 auto 2rem;
			font-size: 2.375rem;
		}
		@include range(md) {
			margin: 2rem auto;
		}
	}

// IMAGE SWITCHER

	.entry-block-img-switcher {
		background-color: darken( $white, 10% );
		.heading-styled {
			@extend h3;
			color: $gray;
		}
		ul {
			list-style: none;
			position: relative;
			&.img-list {
				margin: 0 auto;
				padding: 1rem 0;
				min-height: 400px;
				overflow: hidden;
				li.img-item {
					min-width: 320px;
					opacity: 0;
					z-index: 0;
					@include absolute-center;
						width: 100%;
						height: auto;
					img {
						margin: 0 auto;
						max-height:500px;
						max-width:900px;
						width: 100%;
						height: auto;
					}
				}
				li.sizer {
					opacity: 0;
					img {
						width: 100%;
						height: auto;
					}
				}
			}
			&.switcher-nav {
				margin: 0 auto;
				li {
					margin: 0 auto;
					padding: 0;
					display: inline-block;
				}
			}
		}

	}
