// BODY
// ====

// CONTAINER

	// Contains .main and .sidebar, since these are usually paired.
	.main-container {
		background-color: transparent;
		display: flex;
		min-height: 75vh;
		flex-direction: column;
		@include range(sm) {
			@if ( $sidebar ) {
				@include flex-layout;
			}
		}
	}

// PAGE (index, archive)
// ====

	.main {
		padding: .5rem;
		width: auto;
		background-color: $white;
		margin: 0 auto;
		flex: 1;
		&.not-found {}
		@include range(md) {
			padding: 1.25rem;
		}
		@include range(md) {
			padding: 1.75rem;
			width: $main-width;
		}

	}

	.main-header {
		margin-bottom: 2rem;
	}

	.main-title {
		font-family: Montserrat, Arial, sans-serif;
		font-weight: 700;
		text-transform: uppercase;
		color: $dark-blue;
		margin: 0;
		a {
			@include link-color(inherit, $link-color-hover);
			text-decoration: inherit;
		}
		.archive & {
			@extend h2 !optional;
		}
	}

	.main-type {} // e.g. Day, Month, Year, Category, Tag, Author, Search

	.main-meta {
		// font-size: .75em;
		margin-top: .5em;
	}

		.meta-sep {}

		.meta-nav {}

	.main-image {

		&.default {
			margin: 0 0 1em;
		}

		img {
			display: block;
			margin: 0 auto;
			max-width: 100%;
			height: auto;
		}
	}

	.wp-post-image-caption {
		margin: 0;
		font-size: .75em;
	}

	.main-content-container {}

	.main-content {
		@include wysiwyg;
	}

	.main-footer {
		font-size: .75em;
		margin-top: 2rem;
	}

// ENTRY
// =====

	// Singular article pages use .entry-*, which extends .main-*. This is my solution to an awkward dilemma, that an archive is semantically a collection of articles (entries) and not an article itself, but in most cases we want to style it identically to a singular article page.

	.entry {}

	body.page-template-default {
		.main {
			padding: 2.75rem;
			h1.entry-title {
				font-size: 2.125rem;
			}
			.entry-content-inner {
				font-size: 1.125rem;
			}
		}
	}

// HEADER

	.entry-header {
		@extend .main-header !optional;
	}

	.entry-title {
		@extend .main-title !optional;
	}

	.entry-meta {
		@extend .main-meta !optional;
		font-family: 'PT Sans', Helvetica, sans-serif;
		font-weight: 700;
		text-transform: uppercase;
		color: $gray;
		font-size: 1.4rem;
		letter-spacing: -.015rem;
	}

		.entry-author {}

		.entry-date {}

	.entry-image {
		@extend .main-image !optional;
	}

// CONTENT

	.entry-content-container {
		@extend .main-content-container !optional;
	}

	.entry-content {
		@extend .main-content !optional;
	}

	// Next/Previous Page (for a paginated post)
	.entry-content-nav {}

// FOOTER

	.entry-footer {
		@extend .main-footer !optional;
	}

		.cat-links {}
		.tag-links {}
		.comments-link {}

// NAV

	.entry-nav {
		@include flex-layout(row, nowrap, space-between, center);
	}

	.entry-nav-next {
		text-align: right;
	}

	.entry-nav-previous {}

// ARCHIVE
// =======

	// Use this container to style '.entry' when there are multiple posts on a page.
	.archive {
		margin-top: 2em;

		.entry:not(:first-child) {
			margin-top: 3em;
		}

		.entry-title {
			@extend h2;
			margin: 0;
		}
	}

	// Next/Previous Page
	.archive-nav {
		@extend .entry-nav !optional;
	}

	.archive-nav-next {
		@extend .entry-nav-next !optional;
	}

	.archive-nav-previous {
		@extend .entry-nav-previous !optional;
	}

// ATTACHMENT
// ==========

	// Parent Post
	.attachment-parent-nav {
		margin-bottom: 1em;
	}

	// Download Link
	.attachment-download {
		margin: 1em 0;
	}

	// Next/Previous Attachment
	.attachment-nav {
		@extend .entry-nav !optional;
	}

	.attachment-nav-next {
		@extend .entry-nav-next !optional;
		@include flex-layout(row, nowrap, center, center);
	}

	.attachment-nav-previous {
		@extend .entry-nav-previous !optional;
		@include flex-layout(row, nowrap, center, center);
	}

	.attachment-thumb {
		display: inline;
	}
