// FOOTER
// ======

	.site-footer {
		a {
			@include link-color($white);
			@include transition(color .1s);
			&:hover, &:active {
				text-decoration: none;
			}
		}
		background-color: $black;
		padding: 0 .5rem;
		@include range(sm) {
			padding: 0 1rem;
		}
		.footer-inner {
			display: flex;
			flex-flow: column-reverse wrap;
			justify-content: space-between;
			max-width: $main-width;
			padding: 1rem 0.3125rem;
			font-size: .7rem;
			color: $white;
			margin: 0 auto;
			@include range(fs) {
				flex-flow: row wrap;
				padding: 1.75rem 0.3125rem;
			}
			.site-id {
				text-align: center;
				@include range(fs) {
					text-align: left;
				}
				.site-image {
					display: inline-block;
					max-width: 6.5rem;
					@include range(sm) {
						max-width: 7.5rem;
					}
				}
				.site-info {
					padding-left: .85rem;
					display: inline-block;
					font-size: 0.675rem;
					line-height: 0.75rem;
					letter-spacing: .04rem;
					text-align: left;
					@include range(sm) {
						padding-left: 1.25rem;
						font-size: 0.6875rem;
						line-height: 0.875rem;
						letter-spacing: .05rem;
					}
					text-transform: uppercase;
				}
			}
			.site-copyright {
				margin-top: 1.25rem;
				font-size: .5rem;
			}
			.footer-social {
				padding: 0 0 .85rem 0;
				text-align: center;
				border-left: none;
				border-bottom: 1px solid $white;
				margin-bottom: 1rem;
				@include range(fs) {
					padding: 0 0 0 .85rem;
					text-align: left;
					border-bottom: none;
					border-left: 1px solid $white;
					margin-bottom: 0;
				}
				@include range(fm) {
					height: 3.25rem;
					padding: 0 0 0 1.25rem;
				}
				.social-nav {
					display: inline-block;
					text-align: left;
					font-size: 0.75rem;
					letter-spacing: .03rem;
					line-height: 2rem;
					padding: 0 0 0 .3rem;
					@include range(fs) {
						display: block;
						padding: 0.6875rem 0 0 0;
					}
					ul {
						list-style-type: none;
						margin: 0;
						padding: 0;
						line-height: 1;
						max-width: 100%;
						@include range(fs) {
							max-width: 3.6rem;
						}
						@include range(fm) {
							max-width: 100%;
						}
					}

					li {
						display: inline-block;
						padding: .3rem;
						@include range(fs) {
							padding-left: 0.3rem;
							padding-right: 0.3rem;
							padding-top: 0.3rem;
							padding-bottom: 0.3rem;
							&:nth-child(odd) {
								padding-left: 0rem;
							}
							&:nth-child(even) {
								padding-right: 0rem;
							}
						}
						@include range(fm) {
							&:nth-child(odd) { 		padding-left: 	0.5rem; }
							&:not(:first-child) { 	padding-left: 	0.5rem; }
							&:not(:last-child) { 	padding-right: 	0.5rem; }
							padding-top: 0;
							padding-bottom: 0;
						}
					}

					a {
						display: inline-block;
						@include link-color($white, rgba($white, .75));
						text-decoration: none;
						text-align: center;
						font-size: 1.25rem;
						vertical-align: middle;
					}
				}
			}
		}
	}


