// GLOBAL
// ======

// RANGES

	$theme-ranges: (
		// Default (Bootstrap)
		xm:  (max:  400),
		xs:  (min:  400),
		fs:  (min:  440), // footer sm
		fm:  (min:  520), // footer min
		sm:  (min:  768),
		md:  (min:  992),
		lg:  (min: 1200),
		// Add new ranges here.
	);
	$ranges: map-merge($ranges, $theme-ranges);

// COLORS

	$black: #333;
	$white: #fff;
	$dark-blue: #25408f;
	$muted-blue: #375d82;
	$light-blue: #1cb6ed;
	$gray: #666a73;

	$link-color: $dark-blue;
	$link-color-hover: $light-blue;

// FONTS

	$primary-font: 'Arial', 'Helvetica', sans-serif;

// COMPONENTS

	$sidebar:  false;
	$comments: false;

	$main-width:    62.5rem;
	$sidebar-width: 20rem;

	$z-menu:	200;

// CONTAINERS

	html,
	body {
		font: 16px/1.5 $primary-font;
	}

	body {
		background-color: $white;
		background: url('../images/background.jpg') center top no-repeat fixed border-box;
		background-size: cover;
		color: $black;
		/* &::after {
			position: fixed;
			top: 5rem;
			right: 0;
			padding: .3125rem .625rem;
			background-color: rgba( #ff0000, .85 );
			color: $white;
			z-index: 1000;
			border-radius: .25rem;
			font-family: Helvetica, Arial, sans-serif;
			content: '- RANGE: NONE -';
			@include range(xm) { content: '- RANGE: XM -'; }
			@include range(xs) { content: '- RANGE: XS -'; }
			@include range(fs) { content: '- RANGE: FS -'; }
			@include range(fm) { content: '- RANGE: FM -'; }
			@include range(sm) { content: '- RANGE: SM -'; }
			@include range(md) { content: '- RANGE: MD -'; }
			@include range(lg) { content: '- RANGE: LG -'; }
			@include transform(rotate(90deg));
			display: none;
		} */
	}

	 // Container for .site-header, .main-container (.main + .sidebar), and .site-footer
	.site-container {
		background-color: transparent;
		padding: 0;
		@include range(sm) {
			margin: auto;
			padding: 0;
		}
	}

	.full-width {
		width: 100%;
		position: relative;
	}

// ELEMENTS

	* {
		@include box-sizing(border-box);
	}

	a {
		@include link-color($link-color, $link-color-hover);
		@include transition(color .1s);
	}

	p {
		margin: 1em 0;
	}

	h1 {
		font-family: Montserrat, Helvetica, sans-serif;
		text-transform: uppercase;
		color: $dark-blue;
		font-size: (8/5)+em;
		margin: (5/8)+em 0;
		line-height: 1.2;
	}

	h2 {
		font-family: Montserrat, Helvetica, sans-serif;
		text-transform: uppercase;
		color: $dark-blue;
		font-size: (7/5)+em;
		margin: (5/7)+em 0;
		line-height: 1.2;

	}

	h3 {
		font-family: 'PT Sans', Helvetica, sans-serif;
		font-weight: 700;
		color: $dark-blue;
		font-size: (6/5)+em;
		margin: (5/6)+em 0;
		line-height: 1.2;
	}

	h4 {
		font-size: 1.08rem;
		text-transform: uppercase;
		font-family: 'PT Sans', Helvetica, sans-serif;
		font-weight: 700;
		color: $dark-blue;
		line-height: 1.2;
		letter-spacing: .025rem;
	}

	h5 {
		font-family: 'PT Sans', Helvetica, sans-serif;
		font-weight: 700;
		color: $dark-blue;
	}
	h6 {
		font-family: 'PT Sans', Helvetica, sans-serif;
		font-weight: 700;
		color: $dark-blue;
	}

	hr {
		margin: 1.5rem 0;
		border: 0;
		height: 1px;
		background-color: $black;
		@include range(sm) {
			margin: 2rem 0;
		}
	}

	ul, ol {}

	li {}

	img {
		display: block;
		max-width: 100%;
		height: auto;
	}

	button,
	.button,
	input[type="button"],
	input[type="reset"],
	input[type="submit"] {
		outline: none;
	}

	a.button {
		display: block;
		@include range(sm) {
			display: inline-block;
		}
	}

	.btn-blue {
		color: $white;
		background-color: $dark-blue;
		border-color: $dark-blue;
		border-radius: 0;
		&:hover{
			background-color: darken( $dark-blue, 10% );
			border-color: darken( $dark-blue, 10% );
			color: $white;
		}
		&:active, &:visited, &:focus {
			color: $white;
		}
	}

	.btn-mutedblue {
		color: $white;
		background-color: $muted-blue;
		border-color: $muted-blue;
		border-radius: 0;
		&:hover{
			background-color: darken( $muted-blue, 10% );
			border-color: darken( $muted-blue, 10% );
			color: $white;
		}
		&:active, &:visited, &:focus {
			color: $white;
		}
	}

	dl {
		padding-left: 2em;
	}

	dt {
		font-weight: bold;
	}

	dd {
		margin-left: 0;
		&:not(:last-child) {
			margin-bottom: .5em;
		}
	}

// WYSIWYG
// =======

	// Include this anywhere arbitrary HTML/WYSIWYG content may be displayed.
	@mixin wysiwyg {
		@include clear-after;
	}

	.wysiwyg {
		@include wysiwyg;
	}

// FEATURES
// ========

	.wp-caption {
	    font-size: .75em;
	    line-height: 1.2;
	}

	.wp-caption-text {
		margin: .25em 0 0;
	}

	.subtitle {
		margin-top: 0;
		font-weight: bold;
	}

	// Generic responsive container for an embedded YouTube video. Include an inner <div> and make sure to remove width and height attributes from the iframe.
	.video-container {
 		max-width: 35rem; // 560x315
 		margin: 2em auto;

 		> div {
 			position: relative;
 			padding-bottom: 56.25%;
 			height: 0;
 		}

 		iframe {
 			position: absolute;
 			top: 0;
 			left: 0;
 			width: 100%;
 			height: 100%;
 		}
	}

// EXTRAS

	.no-select {
		@include user-select( none );
	}

	.blue-border {
		border: 1px solid $muted-blue;
		margin: 1rem auto;
	}

	.fixedPosition {
		overflow: hidden;
	}
	.tooltip-inner {
		text-align: left;
		padding: .15rem .65rem .85rem;
		max-width: 18.75rem;
		ul {
			margin: 0 0 0 1.25rem;
			padding: 0;
		}
	}