// HEADER
// ======

	.site-header {
		display: flex;
		min-height: 9.25rem;
		@include range(sm) {
			min-height: 10.5rem;
		}
		@include range(md) {
			min-height: 12.25rem;
		}
		flex-direction: column;
		background-color: $white;
		@extend .full-width;


	// MENU BUTTONS

		.site-menu-button-container {
			text-align: right;
			background: $black;
			@include range(sm) { display: none; }
		}

		.site-menu-button {
			border: none;
			background: $black;
			outline: none;
			color: $white;
			font-size: 1.75rem;
			position: relative;
			padding: 0 .5rem;
			&:hover { }
		}

		.site-menu-close-button-container {
			@extend .site-menu-button-container;
			body.admin-bar & {
				@include range(wp-sm) { margin-top: $wpadminbar-sm-height; }
				@include range(wp-md) { margin-top: $wpadminbar-md-height; }
				@include range(wp-lg) { margin-top: $wpadminbar-lg-height; }
			}
		}
		.site-menu-close-button {
			@extend .site-menu-button;
		}

		.site-branding {
			display: flex;
			flex-grow: 1;
			max-width: $main-width;
			margin: 0 auto;
			flex-flow: row nowrap;
			width: 100%;
			padding: 0 .5rem;
			@include range(xs) { padding: 0 1rem; }
			@include range(sm) { padding: 0 2rem; }

			.site-image {
				display: inline-flex;
				flex-grow: 1;
				margin: 1.375rem 0 0 .5rem;
				max-width: 10.5rem;
				@include range(sm) {
					margin: 1.375rem 0 0 .35rem;
					max-width: 10.5rem;
				}
				@include range(md) {
					margin: 1.375rem 0 0 0;
					max-width: 12.81rem;
				}
				height: auto;
				align-self: flex-start;
			}
			.header-links {
				display: inline-flex;
				flex-grow: 1;
				justify-content: flex-start;
				align-content: center;
				flex-wrap: wrap;
				align-items: center;
				margin: 1.375rem 0;
				max-width: 70%;
				@include range(sm) {
					align-self: flex-end;
					margin: 1.575rem 0;
					justify-content: space-evenly;
					flex-wrap: nowrap;
					align-content: flex-start;
					max-width: 100%;
				}
				@include range(md) {
					margin: 1.375rem 0;
				}
				a.header-link {
					color: $gray;
					font-family: Arial, Helvetica, sans-serif;
					font-size: .85rem;
					text-transform: uppercase;
					margin: .25rem .5rem;
					&:before {
						@include fa-icon;
						@extend .fal;
						content: fa-content($fa-var-angle-double-right);
						@include transform(scale(1.25, 1.5));
						color: $muted-blue;
						padding-right: .25rem;
						vertical-align: 0;
						font-weight: 300;
					}
					&:hover {
						color: $black;
						text-decoration: none;
						&::before {
							color: $dark-blue;
						}
					}
					@include range(fm) {
						font-size: 2.5vw;
						&::before {
							font-size: 3vw;
						}
					}
					@include range(sm) {
						font-size: .85rem;
						margin: 0 .5rem;
						&::before {
							font-size: 1rem;
						}
					}
					@include range(md) {
						font-size: 1rem;
						&::before {
							font-size: 1.2rem;
						}
					}
				}
			}


			.site-title {
				margin-top: 0;
				a {
					@include link-color(inherit, $link-color-hover);
					text-decoration: inherit;
				}
			}
		}
	}
// MENU
// ====

	.site-menu {

		position: fixed;
		top: 7rem;
		left: 100%;
		bottom: 0;
		z-index: $z-menu;
		width: 100%;
		background: transparent;
		&::-webkit-scrollbar { display: none; }
		@include transition(left .2s);
		&.open {
			left: 0;
		}

		@include range(sm) {
			position: static;
			left: 0;
			width: auto;
			padding: 0;
			overflow-y: visible;
			background: transparent;
		}
	}
	/* .site-menu {

		ul {
			@include no-list-style;
			margin: 1em 0;
		}

		li {
			display: inline-block;
			&:not(:first-child) { margin-left: 1em; }
		}

		.current-menu-item,
		.current-page-ancestor {
		}

	} */

// SEARCH
// ======

	.site-search {}

	.searchform-container {
		@include flex-layout;
		max-width: 20em;
	}

	.searchform-input-container {
		@include flex(1 1 0); // grow = 1, shrink = 1, basis = 0
		padding-right: .25rem;
	}

	#s { // Input
		width: 100%;
		border: none;
		background: $white;
		font-size: inherit;
		line-height: 1.5;
		outline: none;
		padding: 3px 8px;
	}

	#searchsubmit { // Button
		border: none;
		background: transparent;
		font-size: inherit;
		line-height: 1.5;
		padding: 4px 8px;
		@include link-color(inherit, $link-color-hover);
		@include transition(color .1s);
	}

	nav.main-nav {
		@extend .full-width;
		background-color: $black;
		#menu-main-menu {
			margin: 0;
			padding: 0;
			list-style-type: none;
			background-color: $black;
			color: $white;
			font-family: Arial, sans-serif;
			font-size: 0.8125rem;
			line-height: 1.25rem;
			max-width: $main-width;
			margin: 0 auto;

			@include range(sm) {
				@include display-flex;
				font-size: 0.7725rem;
				line-height: 1.15rem;
				clear: both;
				text-align: center;
			}

			@include range(md) {
				font-size: 0.8125rem;
				line-height: 1.25rem;
			}

			// Primary Items
			.menu-item {
				text-transform: uppercase;
				margin: 0 auto;
				text-align: left;
				border-top: 1px solid rgba( $white, .85 );
				@include range(sm) {
					text-align: center;
					@include flex-grow(1);
					position: relative;
					@include transition(.2s);
					background: transparent;
				}
				@include range(sm,md,lg) {
					border-top: none;
				}
				&.has-sub > a::after {
					display: block;
					content: '\f105';
					font-family: 'Font Awesome 5 Pro';
					font-weight: 600;
					font-style: normal;
					text-decoration: inherit;
					color: $white;
					padding-right: 0.5em;
					position: absolute;
					top: 20%;
					right: 5px;
					z-index: 10;
					@include range(sm,md,lg) {
						display:none;
					}
				}
				.sub-menu {
					.menu-item {
						border-top: 1px dashed rgba( $white, .35 );
						@include range(sm,md,lg) {
							border-top: none;
						}
					}
				}
				&.has-sub.open > a::after {
					content: '\f107';
				}
				a {
					@include user-select( none );
					display: inline-block;
					height: auto;
					margin: 0 auto;
					text-align: left;
					padding: .4rem 0 .4rem .4rem;
					width: 100%;
					text-decoration: none;
					@include link-color(inherit);
					position: relative;
					cursor: pointer;
					@include range(sm) {
						width: auto;
						padding: .4rem 0;
						border-top: none;
						text-align: center;
						&:hover {
							//background: $gray;
							color: $white;
						}
					}
				}
			}
			.divider {
				font-family: Arial, sans-serif;
				font-size: 0.8125rem;
				line-height: 1.25rem;
				height: auto;
				margin: 0 auto;
				text-align: center;
				padding: .4em 0;
				display: none;
				@include range(md,lg) {
					display:inline-block;
				}
			}

			// Secondary Items
			.sub-menu {
				margin: 0;
				padding: 0;
				display: none;
				list-style-type: none;

				@include range(sm) {
					position: absolute;
					top: 100%;
					z-index: 200;
					opacity: 0;
					min-width: 16rem;
				}
				.menu-item a {
					@include user-select( none );
					background: rgba($black, .85);
					@include box-shadow( 0 8px 6px -6px rgba(#000, 0 ) );
					@include transition(.15s);
					width: 100%;
					text-align: left;
					@include link-color(rgba($white, .75), $white);
					text-decoration: none;
					text-transform: none;
					z-index: $z-menu;
					@include range(sm) {
						padding: 1em;
						&:hover {
							background: $black;
							@include box-shadow( 0 8px 6px -6px rgba(#000, .75 ) );
							z-index: $z-menu + 1;
						}
					}

				}
			}
			.menu-item:hover > .sub-menu {
				@include range(sm) {
					display: block;
					opacity: 1;
				}
			}
			.menu-item:hover > .top {

				@include range(sm) {
					&::after {
						display: block;
						position: absolute;
						bottom: 0px;
						top: auto;
						right: 12%;
						width: 76%;
						height: 12px;
						background-color: $black;
						content: ' ';
					}
				}
			}
			.menu-item:last-child > .sub-menu {
				left: auto;
				right: 0;
			}

			.sub-menu > .menu-item {
				padding-left: 1em;
				font-weight: normal;
				@include range(sm) {
					display: block;
					padding-left: 0;
					text-align: left;
					background: transparent;
					@include transition(.2s);
				}
			}
		}
	}

