// SIDEBAR
// =======

@if ( $sidebar ) {

	.sidebar {
		margin-top: 2em;
		@include range(sm) {
			@include flex(0 0 ($sidebar-width - 2rem) ); // grow = 0, shrink = 0
			margin-top: 0;
			margin-left: 2rem;
		}

		.widget {
			&:not(:first-child) { margin-top: 2em; }

			ul {
				@include no-list-style;
				margin: 1em 0;
			}

		}

		.widget-title {
			margin-top: 0;
		}

	}

} @else {

	.sidebar { display: none; }

} // if $sidebar