// HOMEPAGE
// ========

	.hero-banner {
		height: auto;
		padding: 2rem 0;
		text-align: center;
		font-family: Montserrat, Helvetica, sans-serif;
		text-transform: uppercase;
		color: $white;
		display: flex;
		flex-flow: row wrap;
		align-content: center;
		@include range(sm) {
			height: 24.25rem;
			padding:0;
			&.no-timeline {
				height: auto;
				padding: 2rem 0;
			}
		}
		@include range(md) {
			height: 31.25rem;
			&.no-timeline {
				height: auto;
			}
		}
		.hero-text {
			max-width: $main-width;
			margin: 0 auto;
			padding: 0 2rem;
			@include range(md) {
				padding: 0 0 5rem;
			}
			align-self: center;
			.hero-text-top {
				font-weight: 400;
				font-size: 1.625rem;
				@include range(sm) {
					font-size: 2.125rem;
				}
				@include range(md) {
					font-size: 3.125rem;
				}
			}
			.hero-text-mid {
				font-weight: 400;
				font-size: 3.188rem;
				line-height:1.1;
				font-kerning: none;
				@include range(sm) {
					font-size: 3.688rem;
				}
				@include range(md) {
					font-size: 4.688rem;
				}
			}
			.hero-text-btm {
				font-weight: 700;
				font-size: 3.188rem;
				line-height:2;
				@include range(sm) {
					font-size: 3.688rem;
				}
				@include range(md) {
					font-size: 4.688rem;
				}
			}
		}
		&.no-timeline {
			.hero-text {
				@include range(md) {
					padding: 0 0 1rem;
				}
			}
		}
	}
	.century-callout {
		z-index: $z-menu;
		background-color: $black;
		min-height: 12rem;
		margin: 0 0 1.75rem;
		padding: 1.875rem;
		display: flex;
		flex-flow: column wrap;
		@include range(fs) {
			flex-flow: row nowrap;
		}
		@include range(sm) {
			margin: 0 0 1.75rem;
		}
		@include range(md) {
			margin: -6rem 4.375rem 1.75rem;
		}
		a.explore {
			.century-icon {
				margin: 0 auto;
				max-width: 65%;
				@include range(fs) {
					max-width: 7.375rem;
				}
			}
		}
		.explore-box {
			color: $white;
			border-left: none;
			margin: 0;
			padding: 0;
			font-size: 1.25rem;
			font-family: Arial, sans-serif;
			@include range(fs) {
				border-left: 1px solid $white;
				margin: 0 0 0 1.875rem;
				padding: 0 0 0 1.875rem;
			}
			p {
				margin: .85rem 0;
			}
			a.explore {
				align-self: center;
				color: $white;
				font-weight: 700;
				i {
					@include transform(scale(1.45, 1.75));
					color: $light-blue;
				}
				&:hover {
					text-decoration: none;
					color: $white;
				}
			}
		}
	}
	.page-template-homepage {
		@extend .full-width;
		background-color: $white;
		padding-top: 0;

		.entry-column {
			padding: 0 1.25rem;
			a, a:hover, a:active {
				text-decoration: none;
			}
			h4 {
				margin: 1rem 0;
			}
		}
		.countdown {
			display: flex;
			flex-flow: row wrap;
			align-items: center;
			justify-content: space-around;
			font-family: 'Montserrat', Helvetica, sans-serif;
			text-transform: uppercase;
			font-size: 1.875rem;
			color: $light-blue;
			padding: 0;
			@include range(sm) {
				padding: 0 3rem;
			}
			.label {
				text-align: center;
				padding: 0 0 1rem 0;
				@include range(md) {
					padding: 1rem 0;
				}
				line-height: 1;
			}
			.circles {
				margin: 0 1rem;
				position: relative;
				display: block;
				width: 18.75rem;
				height: 6rem;
				background: url(../images/countdown_circles.png) left top no-repeat $white;
				background-size: cover;
				.num {
	  				@include animation(fadein 1s ease-out);
					@include keyframes(fadein) {
						0% { @include opacity(0); }
						100% { @include opacity(1); }
					}
					@include user-select( none );
					text-transform: none;
					font-weight: 700;
					position: absolute;
					top: 1.25rem;
					font-size: 1.85rem;
					line-height: 1.5;
					width: 6.063rem;
					height: 6rem;
					text-align: center;
					&::after {
						font-weight: 600;
						position: absolute;
						font-size: 0.625rem;
						content: 'days';
						bottom: 2.65rem;
						width: 100%;
						text-align: center;
						left:0;
					}
					&.days {
						left: 0;
					}
					&.hours {
						left: 6.375rem;
						&::after {
							content: 'hours';
						}
					}
					&.minutes {
						left: 12.69rem;
						&::after {
							content: 'minutes';
						}
					}
				}
			}
		}
		// SOCIAL FEED SECTION OVERRIDES
		.social-feed {
			overflow-y: hidden;
			width: auto;

			margin: 0;
			padding: 0 1.75rem;
			@include range(md) {
				margin: 0 -1.75rem;
				width: $main-width;
			}
			.ff-stream {
				.ff-stream-wrapper {
					margin: 0 auto;
					max-width: 50.35rem;
					.ff-item {
						.ff-overlay-wrapper {
							opacity: 1;
							background: #fff;
						}
						.ff-item-meta {
							h6 {
								display: none;
							}
						}
						.ff-img-holder img {
							width: auto;
						}
					}
				}
				.ff-header h1 {
					font-size: 1.875rem;
					padding-bottom:1.375rem;
					margin: 0px 20px 12px !important;
				}
				.slick-prev, .slick-next {
					font-size: 0;
					line-height: 0;
					position: absolute;
					top: 50%;
					display: block;
					width: 1.5rem;
					height: 1.875rem;
					padding: 0;
					@include transform( translate(0, -50%));
					cursor: pointer;
					color: transparent;
					border: none;
					outline: none;
					background: transparent;

					&::before {
						display: block;
						@include fa-icon;
						@extend .fal;
						@include transform(scale(1.25, 1.5));
						vertical-align: 0;
						font-size: 1.313rem;
						color: $muted-blue;
						font-weight: 300;
					}

					&:hover, &:focus {
						color: transparent;
						outline: none;
						background: transparent;
						&::before {
							color: $dark-blue;
						}
					}
				}

				.slick-prev {
					left: -2.5rem;
					@include range(md) {
						left: -5.1875rem;
					}
					&::before {
						content: fa-content($fa-var-angle-double-left);
					}

				}

				.slick-next {
					right: -1.2rem;
					@include range(md) {
						right: -3.885rem;
					}
					&::before {
						content: fa-content($fa-var-angle-double-right);
					}
				}
			}
		}
	}