body.page-template-profiles {
		.main {
			ul {
				list-style-type: circle;
			}
			padding: 2.75rem;
			h1.entry-title {
				font-size: 2.125rem;
			}
			.entry-content-inner {
				font-size: 1.125rem;
			}
			.profile-grid {
				position: relative;
				cursor: pointer;
				@include hover-zoom(1.075);
				.profile-name {
					position: absolute;
					bottom: .5rem;
					background-color: rgba(#000,.85);
					color: $white;
					padding: 0 .5rem;
					border-radius: .5rem;
					text-align: center;
					font-size: .875rem;
					left: 50%;
					@include transform(translateX(-50%));
				}
				.desat {
					opacity: 1;
					position: absolute;
					padding: 0;
					background-size: contain;
					background-repeat: no-repeat;
					width: 100%;
					height: 100%;
					top: 0;
					bottom: 0;
					left: auto;
					right: auto;
					@include transition(opacity 500ms ceaser($easeOutSine));
				}
				&:hover {
					.desat {
						opacity: 0;
					}
				}
			}
			.modal-content {
				.entry-content-inner {
					font-size: 1rem;
					line-height: 1.15;

					h1 {
						font-size: 1.85rem;
					}
					h2 {
						font-size: 1.5rem;
					}
					h3 {
						font-size: 1.25rem;
					}
					h4 {
						font-size: 1rem;
					}
				}
			}
		}
	}