body.page-template-story {
	.main {
		ul.story-share {
			list-style-type: none;
			.blockquote {
				font-family: 'PT Sans', Helvetica, Arial, sans-serif;
				padding: 0 1rem;
				a {
					color: #6c757d;
					text-decoration: none;
					&:hover {
						text-decoration: underline;
					}
				}
				.blockquote-footer {
					font-family: 'PT Sans', Helvetica, Arial, sans-serif;

				}
			}
		}
		.grey {
			background-color: #eee;
		}
	}
}