// TIMELINE
// ========

	.page-template-timeline-page {
		#wpadminbar { display: none; }
		background: url('../images/timeline_home_bkg.jpg') center top no-repeat fixed border-box;
		background-repeat: no-repeat;
		background-position: center;
		background-size: cover;
		background-attachment: fixed;
		position: relative;
		.year-placement {
			// visuals for debug
			// border: 3px solid rgba(255, 0, 0, 0.25);
			// border-top: 5px solid rgba(255, 255, 255, 0.5);
			position: absolute;
			width: 1px;
			height: 1px;
			top: 0;
			left: 0;
			pointer-events: none;
		}

		.timeline-container {

			display: flex;
			min-height: 100vh;
			flex-direction: column;
			position: relative;

			.site-menu-button-container {
				text-align: right;
				position: fixed;
				right: 0;
				top: 1.25rem;
				background: rgba( $black,.01 );
				@include range(sm) { display: none; }
				z-index: 199;
			}

			.site-menu-button {
				border: none;
				outline: none;
				color: $white;
				background: transparent;
				font-size: 1.75rem;
				position: relative;
				padding: 0 .5rem;
				text-shadow: 0px 1px 1px rgba(0,0,0,0.5);
				&:hover { }
			}

			.site-menu-close-button-container {
				@extend .site-menu-button-container;
				background: $black;
				position: absolute;
				right: 0;
				top: -3rem;
				width: 5.25rem;
			}
			.site-menu-close-button {
				@extend .site-menu-button;
				background: $black;
			}

			.timeline-content {
				flex: 1;

				.timeline-home {
					a.home-btn {
						@include link-color($white, $light-blue);
						position: absolute;
						top: 1.25rem;
						left: 1.25rem;
						font-size: 1.85rem;
						vertical-align: middle;

						text-align: right;
						@include transition( all 200ms ceaser($easeInOutQuad));
						.fa-angle-double-left {
							font-size: .95rem;
						}
						&:hover {
							letter-spacing: .15rem;
							left: 1.09rem;
						}
					}
					overflow: hidden;
					min-height: 95vh;
					display: flex;
					text-align: center;
					justify-content: center;
					align-items: center;
					flex-direction: column;
					padding-bottom: 2.5rem;
					position:relative;
					.timeline-splash {
						color: $white;
						max-width: 43.75rem;
						margin: 6rem auto;
						@include range(fm) {
							margin: 0 auto;
						}
						h1 {
							color: $white;
							font-weight: 400;
							font-size: 2.4rem;
							@include range(fm) {
								font-size: 3.125rem;
							}
							font-family: Montserrat, Helvetica, Arial, sans-serif;
							strong {
								font-weight: 600;
							}
						}
						p {
							padding: 0 1rem;
							font-size: 1.25rem;
							@include range(fm) {
								padding: 0 5rem;
								font-size: 1.5rem;
							}
							font-family: Helvetica, Arial, sans-serif;
						}
						img {
							padding: 0 1.5rem;
							@include range(fm) {
								padding: 0 5rem;
							}
						}
						a.continue {
							position: absolute;
							bottom: 1rem;
							@include range(fm) {
								bottom: 0;
							}
							@include link-color($white, rgba($white, .75));
							i {
								font-size: 13vmin;
								@include range(fm) {
									font-size: 5vmin;
								}
							}
						}
					}
				}
				.timeline-cascade {
					position: relative;
					margin-top: 3rem;
					padding-top: 11rem;
					@include range(fm) {
						margin-top: 3rem;
						padding-top: 7rem;
					}
					@include range(md) {
						margin-top: 0;
						padding-top: 0;
					}
					.sticky-wrapper {
						@include range(sm) {
							height:auto !important;
						}
					}
					.menu {
						position: fixed;
						top: 3rem;
						left: 100%;
						bottom: 0;
						z-index: $z-menu;
						width: 100%;
						background: transparent;
						&::-webkit-scrollbar { display: none; }
						@include transition(left .2s);
						z-index: 200;
						&.open {
							left: 0;
						}

						@include range(sm) {
							position: static;
							left: 0;
							width: auto;
							padding: 0;
							overflow-y: visible;
							background: transparent;
						}
						.timeline-menu {
							display: inline-block;
							width: auto;
							left:  auto;
							right: 0;
							@include range(sm) {
								display: flex;
								width: 98.5vw;
								left: 0;
								right:  auto;
							}
							@include range(md) {
								display: inline-block;
								width: auto;
								left:  2.2rem;
								right:  auto;
							}
							text-align: center;
							top: 14.688rem;
							position: absolute;
							z-index: 103;
							margin-top: -15rem;

							&.stuck {
								@include range(sm) {
									position:fixed;
									top:0;
									margin-top: 0rem;
								}
							}
							ul.nav {
								flex-grow: 1;
								max-width: 5.25rem;
								@include range(sm) {
									max-width: auto;
								}
								@include range(md) {
									max-width: 6.25rem;
								}
								position: relative;
								z-index: 10;
								@include no-list-style;
								li {
									width: 3.5rem;
									@include range(sm) {
										width: auto;
									}
									@include range(md) {
										width: 6.25rem;
										padding: 0 .5rem;
										border-bottom: 0;
									}
									padding: 0;
									background: $white;
									margin:0;
									border: 1px solid $white;
									border-bottom: 1px solid $white;
									flex-grow: 1;
									align-content: center;
									align-items: center;
									display: flex;
									justify-content: center;
									a {
										@include range(md) {
											font-size: 1.25rem;
											padding: .3125rem 1.125rem;
										}
										font-family: 'PT Sans', Helvetica, Arial, sans-serif;
										font-size: 1.075rem;
										font-weight: 700;
										display: block;
										padding: .5125rem 0;
										position: relative;
										@include transition( all 200ms ceaser($easeInOutQuad));
										@include link-color($dark-blue, $white);
										.indicator {
											@include range(md) {
												width: 3.625rem;
											}
											width: 2.75rem;
											height: 0.125rem;
											background-color: $dark-blue;
											margin: auto;
											position: absolute;
											left: 0;
											right: 0;
											bottom: .25rem;
										}
										&:hover {
											text-decoration: none;
											background-color: $dark-blue;
											.indicator {
												background-color: $white;
												@include transition( background-color 200ms ceaser($easeInOutQuad));
											}
										}
									}

									&.icon {
										width: auto;
										@include range(sm) {
											width: 98.5vw;
										}
										@include range(md) {
											width: auto;
										}
										background: rgba($dark-blue, .75);
										a {
											max-width: 5rem;
											padding: .5rem 1rem;
										}

									}
									&.home {
										width: 98.5vw;
										@include range(md) {
											width: auto;
										}
										border-bottom: 1px solid $white;
										background: rgba($white, .75);
										a {
											font-size: 1rem;
											font-family: Montserrat, Helvetica, Arial, sans-serif;
											font-weight: 600;
											padding: .125rem 0;
											@include link-color($muted-blue,$white);
											&:hover {
												text-decoration: none;
												background-color: transparent;
											}
										}
									}
								}
							}
						}
					}

					.timeline-decade {
						max-width: 71.75rem;
						margin: 0 auto;
						padding-bottom: 0;
						@include range(fm) {
							padding-bottom: 2rem;
						}
						min-height: 95vh;
						position: relative;
						background-color: rgba(white,0);

						.decade-placement {
							margin-top: 15rem;
							padding-bottom: 10rem;
							//border: 3px solid rgba(255, 0, 0, 0);
							position: absolute;
							width: 1px;
							height: 100%;
							top: -14rem;
							bottom: 0;
							left: 0;
							pointer-events: none;
						}

						&.loading::after {
							border: .35rem solid rgba(255, 255, 255,.5);
							border-top: .35rem solid white;
							border-radius: 50%;
							width: 3rem;
							height: 3rem;
							animation: spin 1s linear infinite;
							content: '';
							z-index: 999999;
							position: absolute;
							top: 24.6rem;
							left: 48%;
							bottom: 0;
						}
						@keyframes spin {
							0% { transform: rotate(0deg); }
							100% { transform: rotate(360deg); }
						}


						.timeline-events {
							position: relative;
							z-index: 100;
							ul.timeline-list {
								overflow: hidden;
								position: relative;
								@include no-list-style;
								padding: 0 5px;
								@include range(fm) {
									padding: 0;
								}
								margin: 4.688rem 0 0 0;
								min-height: 12rem;
								&:before,
								&:after {
									content: " ";
									display: table;
								}
								&:after {
									clear: both;
								}
								.divider-line {
									display: none;
									@include range(fm) {
										display:block;
									}
									$background-gradient: $white 0%, $white 93%, rgba($white, 0) 100%;
									@include range(md) {
										top: 0px;
										height: 100%;
										left: 50%;
										@include gradient( top, $background-gradient );
									}
									background-color: $white;
									top: 17rem;
									bottom: 0px;
									left: 20%;
									position: absolute;
									width: .25rem;
									margin-left: -.05rem;
									pointer-events: none;
									height: 100%;
								}
								li.timeline-header {
									float: left;
									@include clear-after;
									width: 100%;
									margin-bottom: 0;
									@include range(fm) {
										width: 50%;
										margin-bottom: 6.875rem;
									}
									position: relative;
									&.decade-num {
										padding-right: 0;
										text-align: center;
										font-size: 8rem;
										letter-spacing: -.5rem;
										line-height: 8rem;
										@include range(fm) {
											padding-right: 3.75rem;
											text-align: right;
											font-size: 13rem;
											letter-spacing:-1rem;
											line-height: 14rem;
										}
										color: $white;
										font-family: Montserrat, Helvetica, Arial, sans-serif;
										font-weight: 100;
										small {
											font-weight: 100;
										}
									}
									&.decade-about {
										float: left;
										clear: both;
										padding-left: 0;
										min-height: 9rem;
										padding-bottom: 2rem;
										@include range(fm) {
											float: right;
											clear: right;
											padding-left: 3.75rem;
											min-height: 18rem;
											padding-bottom: 0;
										}
										color: $white;
										h3 {
											color: $white;
											text-transform: uppercase;
											font-family: 'PT Sans', Helvetica, Arial, sans-serif;
											font-size: 1.625rem;
											font-weight: 700;
										}
									}
								}
								li.timeline-year {
									width: auto;
									@include range(fm) {
										width: 50%;
									}
									@include range(md) {
										margin: 0 0 6.875rem;
										float: left;
										clear: left;
									}
									margin: 0 auto 2rem;
									position: relative;
									float: none;
									clear: both;
									.item-link {
										display: none;
										@include range(fm) {
											display: block;
										}
										@include range(md) {
											right: -.5625rem;
											left: auto;
										}
										position: absolute;
										width: 1.125rem;
										height: 1.25rem;
										top: 2.65rem;
										pointer-events: none;
										right: auto;
										left: -12%;
										.link-line {
											@include range(md) {
												right: 0;
												left: auto;
											}
											right: auto;
											left: 0;
											position: absolute;
											width: 3rem;
											height: .2rem;
											top: .525rem;
											background: $white;
										}
										.link-dot {
											background-color: $white;
											width: 1.25rem;
											height: 1.25rem;
											display: block;
											position: absolute;
										}
									}
									.year-badge {
										top: -.5rem;
										left: -5px;
										@include range(fm) {
											top: 1.5rem;
											left: -3%;
										}
										@include range(md) {
											right: 2.4rem;
											left: auto;
										}
										position: absolute;
										right: auto;
										background: $white;
										padding: .4rem .75rem;
										font-family: 'PT Sans', Helvetica, Arial, sans-serif;
										font-size: 1.5rem;
									}
									.year-panel {
										@include range(md) {
											max-width: 25rem;
											float: right;
											margin-right: 5.25rem;
										}
										max-width: auto;
										float: none;
										margin-right: 0;
										position: relative;
										background: rgba($white, .85);
										color: $black;
										.entry-content-container {
											@include filter( none );
											//@include transition(all 350ms ceaser($easeInOutSine));
											h1 {
												color: $black;
												sup {
													font-size: 60%;
												}
											}
											padding: 1.875rem 1.875rem .9375rem;
										}
										.entry-image {
											overflow: hidden;
											background-color: rgba(#000,.75 );
											position: relative;
											i.fal {
												position: absolute;
												bottom: 8px;
												right: 5px;
												background: rgba(#000, .65 );
												padding: 1px 2px;
												border-radius: 4px;
												color: rgba( $white, .85 );
												text-shadow: 1px 1px 0px rgba( #000, .25 );
												opacity: 1;
												@include transition( opacity .25s ceaser($easeInOutCubic));
											}
											.attribution {
												background: rgba(0,0,0,0.75);
												color: #fff;
												font-size: .65rem;
												position: absolute;
												bottom: 0;
												padding: .5rem 1rem;
												left: 0;
												right: 0;
												color: rgba(255,255,255,.75);
												opacity: 0;
												@include transition( opacity .25s ceaser($easeInOutCubic));
												a {
													color: rgba(255,255,255,.75);
													text-decoration: underline;
												}
												&:hover {
													opacity: 1;
												}
											}
											img {
												@include filter( none );
												@include no-select;
												//@include transition(all 350ms ceaser($easeInOutSine));
											}
										}
										.trigger {
											cursor: pointer;
										}
										&.active {
											.entry-content-container, .entry-image > img {
												@include filter( blur( .2rem ));
											}
										}
										i.etc-close {
											@include range(md) {
												left: 2rem;
												right: auto;
											}
											left: auto;
											right: 2rem;
											opacity: 0;
											visibility: hidden;
											font-size: 2rem;
											position: absolute;
											top: 2rem;
											color: $white;
										}
										.year-etc {
											opacity: 0;
											visibility: hidden;
											color: $white;
											padding: 5.875rem .5rem .9375rem 1.875rem;
											position: absolute;
											background-color: rgba(#000,.75);
											top: 0;
											right: 0;
											bottom: 0;
											left: 0;
											.etc-content {
												h1 {
													color: $white;
												}
												p {
													margin-top: 0;
												}
												overflow-x: hidden;
												padding: 0 1.375rem 0 0;
											}
										}
									}
									&.alternate {
										float: none;
										clear: both;
										@include range(md) {
											float: right;
											clear: right;
										}
										.item-link {
											left: -12%;
											right: auto;
											@include range(md) {
												left: -.5625rem;
												right: auto;
											}
											.link-line {
												left: 0;
												right: auto;
											}
										}
										.year-badge {
											left: -5px;
											@include range(fm) {
												left: -3%;
											}
											right: auto;
											@include range(md) {
												left: 2.4rem;
												right: auto;
											}
										}
										.year-panel {
											i.etc-close {
												left: auto;
												right: 2rem;
											}
										}
									}
								}
							}
						}

						.decade-background {
							position: fixed;
							top: 0;
							left: 0;
							bottom: 0;
							right: 0;
							width: 100%;
							height: 100%;
							background-position: 50% 50%;
							background-repeat: no-repeat;
							background-size: cover;
							backface-visibility: hidden;
							z-index: -1;
							&::after {
								content: '';
								background: #000;
								opacity: 0.35;
								top: 0;
								left: 0;
								bottom: 0;
								right: 0;
								width: 100%;
								height: 100%;
								position: absolute;
							}
						}
					}
				}
			}
		}
	}

	// SIMPLEBAR SETTINGS

	.simplebar-scrollbar:before {
		background: $white;
	}
	.simplebar-track .simplebar-scrollbar.simplebar-visible:before {
		opacity: 1;
	}

	// AOS ANIMATIONS
	[data-aos="link-dot"] {
		opacity: 0;
		transform: scale(.05) translateY(100px);
		transition-property: transform, opacity;

		&.aos-animate {
			opacity: 1;
			transform: scale(1) translateY(0);
		}
	}

	[data-aos="expand-left"] {
		opacity: 0;
		transform: scaleX(.05);
		transform-origin: right 50%;
		transition-property: transform, opacity;

		&.aos-animate {
			opacity: 1;
			transform: scaleX(1);
		}
	}

	[data-aos="expand-right"] {
		opacity: 0;
		transform: scaleX(.05);
		transform-origin: left 50%;
		transition-property: transform, opacity;

		&.aos-animate {
			opacity: 1;
			transform: scaleX(1);
		}
	}

	[data-aos="expand-top"] {
		opacity: 0;
		transform: scaleY(.05);
		transform-origin: 50% top;
		transition-property: transform, opacity;

		&.aos-animate {
			opacity: 1;
			transform: scaleY(1);
		}
	}

	[data-aos="zoom-left"] {
		opacity: 0;
		transform: scale(.15);
		transform-origin: right 50%;
		transition-property: transform, opacity;

		&.aos-animate {
			opacity: 1;
			transform: scale(1);
		}
	}

	[data-aos="zoom-right"] {
		opacity: 0;
		transform: scale(.15);
		transform-origin: left 50%;
		transition-property: transform, opacity;

		&.aos-animate {
			opacity: 1;
			transform: scale(1);
		}
	}

	[data-aos="panel-slide"] {
		opacity: 0;
		transform: translateY(50px);
		transition-property: transform, opacity;

		&.aos-animate {
			opacity: 1;
			transform: translateY(0);
		}
	}

	[data-aos="nav-indicator"] {
		opacity: 0;
		transform: scaleX(.05);
		transform-origin: 50% 50%;
		transition-property: transform, opacity;

		&.aos-animate {
			opacity: 1;
			transform: scaleX(1);
		}
	}
