#toolkit {
	.list-group-item:after {
		position: absolute;
		bottom: 5px;
		right: 5px;
		background-color: rgba( white, .9 );
		padding: 2px 6px 2px 4px;
		border-radius: 4px;
		font-size: .85rem;
		color: #666;
		font-style: italic;
		opacity: 0;
		transition: opacity .2s ease-out;
		content: 'Copy to clipboard';
	}
	.to-download {
		margin-bottom: 1rem;
		&:after {
			margin: auto;
			position: absolute;
			bottom: .5rem; left: 0; right: 0;
			background-color: rgba( white, .9 );
			padding: 2px 6px 2px 4px;
			border-radius: 4px;
			width: 8.5rem;
			height: 1.5rem;
			font-size: .85rem;
			color: #666;
			font-style: italic;
			text-align: center;
			opacity: 0;
			transition: opacity .2s ease-out;
			content: 'Click to Download';
		}
	}
	.list-group-item:hover:after, .to-download:hover:after {
		opacity: 1;
	}
	.list-group-item.copied:after {
		content: 'Copied!';
	}
	.circle {
		display: block;
		width: 5rem;
		height: 5rem;
		padding: .9rem .75rem;
		background-color: #333;
		border-radius: 50%;
		border: 4px solid #bbb;
		float: left;
		margin: 0 1rem 0 0;
		cursor: pointer;
		text-align: center;
		transition: border-color .2s ease-out, background-color .2s ease-out;
		&:hover {
			border-color: #1cb6ed;
			background-color: #000;
		}
		&.ppt {
			padding: .65rem .5rem .75rem .75rem;
		}
		&.centennial {
			padding: 1.1rem 0.25rem 0 0.5rem;
		}
		svg, img {
			max-height: 3rem;
			margin: 0 auto;
		}
	}
	a.header-link {
		text-decoration: underline;
		&:hover > h4 {
			color: #1cb6ed;
		}
	}
	em > a {
		@include link-color(black, $dark-blue);
		text-decoration: underline;
	}
}